@model TransactionInput
@{
    ViewData["Title"] = "Reciept";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link rel="stylesheet" href="~/css/AddAccounts.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<form asp-action="Payment" asp-controller="Accounts" asp-route-token="@ViewBag.token" method="post" id="payBillsForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="invoice-title">
                            <h4 class="float-end font-size-15">Invoice #DS0204</h4>
                            <div class="mb-4">
                                <h2 class="mb-1 text-muted">Utility Bill Payment</h2>
                            </div>
                            <div class="text-muted">
                                <p class="mb-1">Oxygen Business Park SEZ, Sector 144, Noida, UP</p>
                                <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> info@globallogic.com</p>
                                <p><i class="uil uil-phone me-1"></i> +91-120-406-2000</p>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-muted">
                                    <h5 class="font-size-16 mb-3">Billed To:</h5>
                                    <h5 class="font-size-15 mb-2"> Cust Name : @ViewBag.username</h5>
                                    @*<p class="mb-1">4068 Post Avenue Newfolden, MN 56738</p>*@
                                    <p class="mb-1">Cust Email : @ViewBag.email</p>
                                    <p>Cust Contact : @ViewBag.contact</p>
                                    <br />
                                    <h5 class="font-size-16 mb-3">Payment Details:</h5>
                                    <p>Paid via : **** **** @ViewBag.cardNumber</p>
                                    <p>Payment Type : @ViewBag.cardType Card</p>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-sm-6">
                                <div class="text-muted text-sm-end">
                                    <div>
                                        <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                        <p>#DZ0112</p>
                                    </div>
                                    <div class="mt-4">
                                        <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                        <p>@Model.PaymentDate</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="py-2">
                            <h5 class="font-size-15">Order Summary</h5>

                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th style="width: 70px;">No.</th>
                                            <th>Item</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th class="text-end" style="width: 120px;">Total</th>
                                        </tr>
                                    </thead><!-- end thead -->
                                    <tbody>
                                        <tr>
                                            <th scope="row">01</th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-14 mb-1">@ViewBag.accType</h5>
                                                </div>
                                            </td>
                                            <td>$ @Model.TransAmount</td>
                                            <td>1</td>
                                            <td class="text-end">$ @Model.TransAmount</td>
                                        </tr>
                                        <!-- end tr -->
                                        <!-- end tr -->
                                        <tr>
                                            <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                            <td class="text-end">$ @Model.TransAmount</td>
                                        </tr>
                                        <!-- end tr -->
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                Discount
                                            </th>
                                            <td class="border-0 text-end">- $0.00</td>
                                        </tr>
                                        <!-- end tr -->
                                        <!-- end tr -->
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                            <td class="border-0 text-end"><h4 class="m-0 fw-semibold">$ @Model.TransAmount</h4></td>
                                        </tr>
                                        <!-- end tr -->
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div><!-- end table responsive -->
                            <input type="hidden" asp-for="AccountID" name="AccountID" value="@Model.AccountID">
                            <input type="hidden" asp-for="CardID" name="CardID" value="@Model.CardID">
                            <input type="hidden" asp-for="TransAmount" name="TransAmount" value="@Model.TransAmount">
                            <input type="hidden" asp-for="PaymentDate" name="PaymentDate" value="@Model.PaymentDate">
                            <input type="hidden" asp-for="userID" name="userID" value="@Model.userID">
                            <div class="d-print-none mt-4">
                                <div class="float-end">
                                    <button type="submit" class="btn btn-success me-1">Pay Now ($@Model.TransAmount)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
    </div>
</form>